.notificationContainer {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #00b14f;
  background-color: #def8ea;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}

.notiCount {
  width: 20px;
  height: 20px;
  background-color: #d95350;
  color: white;
  font-size: 11px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
}

.profileContainer {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 10px;
  background-color: #fafafa;
  padding: 8px;
  border-radius: 20px;
}

.profileContainer > i {
  color: #00b14f;
}

.profileContainer > i:hover {
  transform: scaleY(-1);
  transition: 1s;
}
.nav-link-header {
  color: black;
}

.nav-link-header:hover {
  color: #00b14f;
}

.active-nav-link-header {
  color: #00b14f;
}

.login_btn {
  color: #00b14f;
  border-color: #00b14f;
}

.login_btn:hover {
  color: #00b14f !important;
  border-color: #00b14f !important;
  background-color: rgb(244, 244, 244) !important;
}

.signup_btn {
  color: white;
  background-color: #00b14f;
  border-color: #00b14f;
}

.signup_btn:hover {
  border-color: #01a54b !important;
  color: white !important;
  background-color: #01a54b !important;
}

.company_btn {
  color: white;
  background-color: #212f3f;
  border-color: #212f3f;
}

.company_btn:hover {
  color: white !important;
  background-color: #1f2b39 !important;
  border-color: #1f2b39 !important;
}
.right-header-container {
  position: relative;
}

.right-header-container:hover .modal-profile-container {
  display: flex;
}

.modal-profile-container:hover {
  display: flex;
}

.modal-profile-container {
  display: flex;
  gap: 15px;
  flex-direction: column;
  position: absolute;
  top: 10vh;
  width: 100%;
  background-color: white;
  padding: 15px;
  border-radius: 20px;
}

.profile-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.profile-header {
  display: flex;
  gap: 10px;
}

.profile-info > p:nth-child(1) {
  color: #00b14f;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}

.profile-info > p:nth-child(2) {
  color: #6f7882;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.profile-part {
  background: #f4f5f5;
  border-radius: 6px;
  align-items: center;
  color: #212f3f;
  display: flex;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  padding: 12px;
  gap: 8px;
  cursor: pointer;
}

.profile-part > i {
  color: #00b14f;
}

.profile-cv {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

hr {
  border: none;
  height: 1px;
  background-color: rgb(149, 149, 149);
}
