.reportContainer {
  position: absolute;
  top: 50%;
  right: 0;

  background-color: #00b14f;
  padding: 10px;
  border-radius: 10px 10px 0 0;
  cursor: pointer;
}
.reportItem > div {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
}
.reportItem > p {
  font-size: 1.2rem;
  font-weight: 500;
}
